<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Mercado Liebre</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="../css/productlist.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
    </head>
</head>


<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
        </div>
    </header>
            
    <main class="main">
        <section class="cart">
            <div class="cart-container">
                <h2 class="product_title">Lista de Productos</h2>
                <% if (products) { %>
                    <% products.forEach (prod=> { %>
                        <article class="cart-container__item">
                            <div class="item__image">
                                <img src=<%=prod.image %>>
                            </div>

                            <div class="item__info">
                                <h3 class="info__title">Nombre: <%=prod.name%></h3>
                                <p class="info__description">Descripcion: <%=prod.description%></p>
                                <p class="info__category">Categoria: <%=prod.category%></p>
                                <p class="info__price">Precio: <%=prod.price%></p>
                                <div class="info__qty">
                                    <button class="qty__count">-</button>
                                    <div class="qty__value">1</div>
                                    <button class="qty__count">+</button>
                                </div>
                                <a href=<%=`/products/${prod.id}/edit`%> >
                                    <button class="button-primary" type="submit">Editar</button>
                                </a>
                                </div>
                                    <button class="item__icon-close">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                        </article>
                    <% }) %>
                <% } %>    
            </div>
        </section>
        <div class="cart_summary">
            <button class="button-adding">Agregar un nuevo producto</button>
        </div>

    </main>    

</body>
</html>